*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.form-title{
    font-size: 2em;
    margin: 10px;
}

.input-container{
    margin: 10px;
    width: 100%;
}
.description-container{
    resize: none;
    width: 100%;
    height: 100px;
    padding: 10px;
    font-size: 1.2em;
}
.action-container{
    display: flex;
    width: 100%;
    justify-content: end;
    padding: 10px;
}
.buttons{
    position: relative;
    padding: 0.25em 1em;
}