*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.tag-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #f5f1f1;
    height: 80vh;
}

.parentDiv{
    display: flex;
    justify-content: center;
}

.inputDiv {
    margin: 20px 0px;
    display: flex;
    justify-content: flex-start;
    width: 70vw;
}

.tag-mat-card {
    width: 70vw;
    height: 60vh;
}

.scrollable-list {
    height: 50vh;
    overflow-y: auto;
    /* border: 1px solid #ccc;  */
}

.list-header{
    display: flex;
    justify-content: center;
}

.list-column {
    padding: 8px;
    /* text-align: left; */
}

.list-header .list-column {
    font-weight: bold;
    background-color: #f5f1f1;
}

.tags.row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.tags.row .column {
    /* flex: 1; */
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative; 
}


.name {
    width: 30vw;
    /* padding: auto; */
}

.description {
    width: 30vw;
    /* padding: auto; */
}

.actions {
    width: 10vw;
    text-align: center;
}

/* .controls.actions{
    text-align: center;
} */

.edit {
    color: goldenrod;
}
.save {
    color: goldenrod;
}
.delete {
    color: red;
}

.controls {
    cursor: pointer;
}
.controls:hover {
    color: purple;
}

.divider-div{
    display: flex;
    justify-content: center;
}

.custom-divider {
    width: 70vw;
}


.mat-divider.mat-divider-inset {
    margin-left: 0px;
}

.mat-mdc-list-item .mat-divider-inset, .mat-mdc-list-option .mat-divider-inset {
    position: relative;
}
