<div class="parentContainer">
    <button mat-raised-button color="primary" (click)="navigate('login')">Login</button>
    <div class="registerContainer">
        <div>Create Your Account</div>
        <div>
            <mat-form-field>
                <mat-label>User Name</mat-label>
                <input matInput #userNameInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput #emailInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput #passwordInput [type]="hidePassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>confirm Password</mat-label>
                <input matInput #confirmPasswordInput [type]="hideConfirmPassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                    <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="buttons">
            <button mat-raised-button>Reset</button>
            <button mat-raised-button color="primary" (click)="navigate('login')">Register</button>
        </div>
    </div>
</div>