.parentContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.leftContainer{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* text-align:justify; */

}

.textLeft{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

.loginButton{
    margin-left: 20px;
}

mat-form-field{
    width: 300px;
}

.registerContainer{
    margin: 30px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 300px;
}

.text{
    margin-bottom: 30px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}