<div class="parentContainer">
    <div class="leftContainer">
    <div class="textLeft">Already have an account?</div>
    <button mat-button class="loginButton" color="primary" (click)="navigate('login')">Login</button>
    </div>
    <div class="registerContainer">
        <div class="text">Create Your Account</div>
        <div>
            <mat-form-field>
                <mat-label>User Name</mat-label>
                <input matInput #userNameInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput #emailInput placeholder="pat@example.com" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput #passwordInput [type]="hidePassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Confirm Password</mat-label>
                <input matInput #confirmPasswordInput [type]="hideConfirmPassword ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hideConfirmPassword = !hideConfirmPassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfirmPassword">
                    <mat-icon>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="buttons">
            <button mat-raised-button (click)="reset()">Reset</button>
            <button mat-raised-button color="primary" (click)="navigate('login')">Register</button>
        </div>
    </div>
</div>