.parentContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-items: center;
    height: 100vh;
}

mat-form-field{
    width: 300px;
}

.registerContainer{
    margin: 30px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 300px;
}