<div class="login-container">
    <div class="switch">
        <div>
            <button class="button-style"  (click)="navigate('register')">Register</button>
        </div>
    </div>
    <div class="login-form">
    <div class= "login-form-inner">
        <p class="log-title">log in your account</p>
        <div>
            <mat-form-field class="form-container">
                <mat-label>User Name</mat-label>
                <input matInput #userNameInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="form-container">
                <mat-label>Password</mat-label>
                <input matInput #passwordInput>
            </mat-form-field>
        </div>
        <div class="buttons">
            <button mat-raised-button color="primary" style="background-color: green; color: white;" (click)="navigate('reservation')">Sign in</button>
        </div>
    </div>
    </div>
</div>
