.parentContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

/* .leftContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* text-align:justify; 
    width: 300px;

} */

.text{
    margin-bottom: 30px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

mat-form-field{
    width: 300px;
}

.signInButton{
    display: flex;
    /* margin-top: 20px; */
    justify-content: flex-end;
    width: 300px;
}

.rightContainer{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    /* text-align:justify; */

}

.textRight{
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;

}

.loginButton{
    margin-left: 20px;
}

.registerButton{
    margin-left: 20px;
}