<div class="login-container">
    <div class="switch">
        <div>
            <button class="button-style"  (click)="navigate('register')">Register</button>
        </div>
    </div>
        <div class="login-form">
            <div class= "login-form-inner">
                <p class="log-title">log in your account</p>
                <form [formGroup]="formData">
                <div>
                    <mat-form-field class="form-container">
                        <mat-label>User Name</mat-label>
                        <input matInput #userNameInput formControlName="userName">
                        <mat-error *ngIf="f['userName'].errors&& (submitted)">
                            <span *ngIf="f['userName'].errors['required']">User Name is required</span>
                            <span *ngIf="f['userName'].errors['minlength']">User Name must be at least 4 characters</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="form-container">
                        <mat-label>Password</mat-label>
                        <input matInput #passwordInput formControlName="password" type="password">
                        <mat-error *ngIf="f['password'].errors&& (submitted)">
                            <span *ngIf="f['password'].errors['required']">Password is required</span>
                        </mat-error>
                    </mat-form-field>
                </div>
                @if(loginError){
                    <div class="error">
                        <p>Invalid username or password</p>
                    </div>
                }
                @if(connectionError){
                    <div class="error">
                        <p>connected error</p>
                    </div>
                }
                <div class="buttons">
                    <button mat-raised-button color="primary" style="background-color: green; color: white;" (click)="login()">Sign in</button>
                </div>
            </form>
            </div>
        </div>
</div>
