<div class="calendarContainer">
    <div class="reservation-header">RESERVATION</div>
    @if(error()!=null){
        <div class="success-card" (click)="errorClick()">
            <div class="card-header" style="color: rgb(198, 54, 54);"><mat-icon>error</mat-icon></div>
            <div class="card-body">Failed! {{error()}}</div>
        </div>
    }
    @if(success()!=null){
        <div class="success-card" (click)="successClick()">
            <div class="card-header" style="color: rgb(103, 174, 104);"><mat-icon>check_circle</mat-icon></div>
            <div class="card-body">Success! {{success()}}</div>
        </div>
    }
    <div class = "cards_container">
        <div class = "search-switch">
            <mat-icon class="search-icon"   (click)="toggleSearchContainer()" [ngClass]="{ 'search': isSearchContainerOpen, 'search_off': !isSearchContainerOpen }">
                {{ isSearchContainerOpen ? 'search_off' : 'search' }}
            </mat-icon>
        </div>
        <div *ngIf="isSearchContainerOpen" class="search_container">
                <div class="people-container">
                    <label class="people-label">People</label>
                    <input type="number" class="people-badge" [(ngModel)]="capacity" min="0" max="100">
                    <mat-select class="select-container" [(ngModel)]="selectedTags" multiple>
                        <mat-option *ngFor="let tag of TagData" [value]="tag.id" class="tag-names">
                            {{ tag.tag }}
                        </mat-option>
                    </mat-select>
                    <label class="tags-label">Tags</label>
                </div>
                <!-- Date and Time Picker for Start Date -->
                <div class="date-time-container date-start">
                    <mat-form-field>
                        <mat-label>Start Date</mat-label>
                        <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field s>
                        <mat-label>Start Time</mat-label>
                        <input matInput [(ngModel)]="startTime" placeholder="HH:MM" pattern="(0[7-9]|1[0-9]|2[0:3]):[0-5][0-9]" maxlength="5">
                        <!-- <mat-hint style="color: grey">ex:07:02</mat-hint> -->
                    </mat-form-field>
                </div>
                <!-- Date and Time Picker for End Date -->
                <div class="date-time-container">
                    <mat-form-field>
                        <mat-label>End Date</mat-label>
                        <input matInput [matDatepicker]="endDatePicker" [(ngModel)]="endDate">
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>End Time</mat-label>
                        <input matInput [(ngModel)]="endTime" placeholder="HH:MM" pattern="(0[7-9]|1[0-9]|2[0:3]):[0-5][0-9]" maxlength="5">
                        <!-- <mat-hint style="color: grey">ex:17:02</mat-hint> -->
                    </mat-form-field>
                </div>
                <div class="button-container">
                    <button class="button-style"(click)="applyFilter()">Search</button>
                </div>
          </div>
        <div class = "card_container-room">
            <mat-card class = "card" *ngFor="let room of filteredRooms" [ngClass]="{ 'selected': selectedRoom === room }" (click)="handleRoomChange(room)">
                <mat-card-header>
                <mat-card-title class="room-card-title">{{ room.room_name }}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <div>Up to {{ room.capacity }} people</div>
                @for(rule of room.rules; track rule){
                    @if(TagsTable[rule] !== undefined){
                        <button  class="show-details" matTooltip={{TagsTable[rule].tag_desc}}>
                            {{TagsTable[rule].tag_name}}
                        </button>
                    }
                }
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div *ngIf = "filteredRooms.length > 0" class="rooms">
        <full-calendar  [options]="calendarOptions" class="found">
            <ng-template  #eventContent let-arg>
                <div *ngIf="isMonthView" class="month-view-event">
                    <span class="event-dot" [style.backgroundColor]="arg.event.backgroundColor || '#333'"></span>
                    <div class="time-text">{{arg.timeText}}</div>
                    <div class="booker-text" [style.fontWeight]="'bold'">{{UserTable[arg.event.extendedProps.organizer].username}}</div>
                    @if(!(arg.event.extendedProps['organizer'] !== this.CurrentUser.id && !this.isadmin)){ 
                        <mat-icon class="button-change-month" (click)="deleteEvent(arg.event, $event)">close</mat-icon>
                    }
                </div>
                <div *ngIf="!isMonthView" class="event-container">
                    <div class="time-field">{{arg.timeText}}</div>
                    @if(arg.event.extendedProps.organizer !== undefined && UserTable[arg.event.extendedProps.organizer] !== undefined){
                        <div class="text-field" matTooltip="Booker">{{UserTable[arg.event.extendedProps.organizer].username}}</div>
                    }
                    @else {
                        <div class="text-field" matTooltip="Booker"></div>
                    }
                    <div class="text-field" matTooltip="Title">{{arg.event.title}}</div>
                    @if(!(arg.event.extendedProps['organizer'] !== this.CurrentUser.id && !this.isadmin)){  
                        <mat-icon class="button-change" (click)="deleteEvent(arg.event, $event)">cancel</mat-icon>
                    }

                </div>
            </ng-template>
        </full-calendar>
    </div>
    <div *ngIf="filteredRooms.length === 0" class="rooms not-found">No rooms available</div>
</div>