*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}
/* width */
::ng-deep ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::ng-deep ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::ng-deep ::-webkit-scrollbar-thumb {
  background: #fffbd5; 
}

/* Handle on hover */
::ng-deep ::-webkit-scrollbar-thumb:hover {
  background: #f5ffcf; 
}
.calendarContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80vh;
}
.reservation-header{
    position: absolute;
    top: 15vh;
    right: 30px;
    font-size: 60px;
    font-weight: bold;
    writing-mode: vertical-rl; 
    transform: rotate(360deg); 
}
.cards_container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    height:80%;
}
.rooms{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 100%;
}
.found{
    width: 80%;
    height: 80%;
}
.not-found{
    padding: 5%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.search_container{
    width: 80%;
}
.card_container{
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
}
.card_container::-webkit-scrollbar {
    display: none;
}

.card {
    width: 300px;
    height: 200px;
    border-left:#d3d3d3 15px solid;
    border-right:#d3d3d3 15px solid;
    color: white;
    background-color: #686767;
}

.selected {
    background-color: #2b87ff;
}
.show-details{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    background-color: transparent; 
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    text-decoration: none;
}

.text-field{
    width: 80%;
    text-align: left;
    font-size: 1.2em;
}
.time-field{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    border-bottom: white 1px solid;
}

.button-change{
    position: absolute;
    width: fit-content;
    top:-1px;
    right: -1px;
}

.month-view-event {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.event-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 5%;
    border-radius: 50%;
    margin-right: 4px;
}
.date-time-container {
    display: flex;
    align-items: center;
    gap: 16px; /* Adjust the gap as needed */
}
  
mat-form-field {
    flex: 1;
}
/* search bar */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input{
    text-decoration: none;
}
.people-container {
    display: flex;
    align-items: center;
    background-color: #4c63af; /* Green background */
    border-radius: 5px;
    padding: 4px;
  }
  
  .people-label {
    color: white;
    margin-right: 10px;
    font-weight: bold;
  }
  
.people-badge {
    background-color: #d3d3d3; /* Light grey background for the badge */
    border-radius: 5% 10%;
    text-align: center;
    width:20%;
    height: 100%;
    padding: 2px 8px;
    font-weight: bold;
    margin-right: 20%;
}
  
.people-input {
    flex-grow: 1;
}
.tags-label {
    color: white;
    margin-right: 10px;
    font-weight: bold;
}
.select-container{
    height: 100%;
    width:50%
}
::ng-deep :root {
    --mat-select-enabled-arrow-color: white; /* Change this to your desired color */
}
::ng-deep .mat-mdc-select-value {
    display: none;
}

::ng-deep .mat-mdc-select-trigger {
    width: fit-content !important;
}
.button-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.button-style{
    padding: 0.25em 1em;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background: #4c63af;
    outline: none;
    color: white;
    cursor: pointer;
}
/* search bar */
.search-switch{
    width: 80%;
    height: fit-content;
    display: flex;
    justify-content:right;
    align-items:center;
}
.search-icon{
    width: fit-content;
    height: fit-content;
}
.search-icon {
    font-size: 3rem;
}
  
.search-icon.search {
    color: #ff0000;
}
  
.search-icon.search_off {
    color: #4CAF50;
}