.header-div{
    width: 100%;
    height: 15vh;
    overflow: hidden;
    position: relative;
}

.image{
    width:100%;
    position: absolute;
    top: -220px;
    height: auto; 
}

.logo{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar {
    background-color: #2e2b2bbe;
    color: #fff;
}
