
<div style="height: 205px">
<img src="assets/meeting-room.jpg" style="width:100%; height: auto;clip-path: inset(220px 0 535px 0); position: absolute; top: -220px;">
<mat-toolbar>
    <button mat-icon-button class="example-icon">
      <mat-icon>menu</mat-icon>
    </button>
    <!-- <span class="example-spacer"></span> -->
    <span style="position: relative; font-family: 'Courier New', Courier, monospace; font-size: 30px;">Meeting.com</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon">
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
</div>
<!-- <svg width="400" height="400" xmlns="http://www.w3.org/2000/svg">
  <image href="assets/meeting-room.jpg" x="10" y="10" width="100" height="100" />
</svg> -->

