
<div class="header-div">
  <img src="assets/meeting-room.jpg" class="image">
  <mat-toolbar>
      <!-- <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button> if rwd -->
      <!-- <span class="example-spacer"></span> -->
      <span class="logo">Meeting.com</span>
      <div class="nav-links">
        @if (userservice.isLoggedIn()) {
          <a class="profile" routerLink="/profile" routerLinkActive="active">Profile</a>
        }
        @else {
          <a routerLink="/login" routerLinkActive="active">Login</a>
        }
        <a routerLink="/reservation" routerLinkActive="active">Reservation</a>
      </div>
        @if (userservice.isLoggedIn()) {
          <div class="button-div">
            @if (isAdmin) {
              <mat-icon (click) = "toAdmin()">admin_panel_settings</mat-icon>
            }
            <mat-icon>notifications</mat-icon>
            <mat-icon (click) = "logout()">logout</mat-icon>
          </div>
        }
  </mat-toolbar>
</div>
