
<div class="header-div">
  <img src="assets/meeting-room.jpg" class="image">
  <mat-toolbar>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <span class="example-spacer"></span> -->
      <span class="logo">Meeting.com</span>
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <mat-icon>notifications</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>logout</mat-icon>
      </button>
  </mat-toolbar>
</div>
