<h2 mat-dialog-title class="form-title">{{tempOrganizer.username}}</h2>
<mat-dialog-content>
  <p>Meeting details</p>
  <p>Time Period: {{data.startTime| date:'yyyy-M-d HH:mm' }}~{{data.endTime| date:"HH:mm"}}</p>
  <!-- <mat-icon class = "change-time" (click)="changeTime()">edit</mat-icon> -->
  <div class = "card-container">
    <mat-form-field class="input-container">
        <mat-label>What's your title</mat-label>
        <input matInput [(ngModel)]="data.title" [disabled]="!canModify">
    </mat-form-field>
    </div>
   <div class = "card-container">
    <mat-form-field class="input-container description">
        <mat-label>What's your description</mat-label>
        <textarea matInput class = "description-container" [(ngModel)]="data.description" [disabled]="!canModify"></textarea>
    </mat-form-field>
   </div>
   <div class = "card-container">
    <mat-form-field class="input-container">
        <mat-label>Participants</mat-label>
        <mat-chip-grid #chipGrid aria-label="Participants" [disabled]="!canModify">
            @for ( participant of tempParticipants; track participant){
                <mat-chip-row (removed) = "remove(participant)">
                    {{participant.email}}
                    <button matChipRemove [attr.aria-label]="'Remove ' + participant.username" >
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
            }
        </mat-chip-grid>
        <input placeholder="Add Participant" #participantInput [formControl]="participantCtrl"
            [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"/>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                @for(participant of filteredParticipants |async; track participant){
                    @if(!tempParticipants.includes(participant)){
                        <mat-option  [value]="participant">
                            <div class="user-name">{{participant.username}}</div>
                            <div class="user-email">{{participant.email}}</div>
                        </mat-option>
                    }
                }
            </mat-autocomplete>
    </mat-form-field>
    </div>
    <div class = "file-container">
        <div>
            <div class="upload-item">
                <mat-label>Uploaded Files</mat-label>
                <mat-icon class="add" (click)="canUpload ? fileInput.click() : null">add</mat-icon>
            </div>
            <input #fileInput type="file" (change)="onFileSelected($event)" style="display: none;" multiple>
              <button class="get-file-button" [matMenuTriggerFor]="menu">
                <mat-icon >attach_file</mat-icon>
                <span class="attach_file">attachment</span>
              </button>
              <mat-menu #menu="matMenu">
                @for(file of uploadedFiles; track file){
                <div class="dropdown-item">
                  <div class="file-name">{{ file.file_name }}</div>
                  <div class="button-set">
                    <a [href]="file.url" download >
                      <button mat-icon-button color="primary" [disabled]="!canUpload">
                        <mat-icon>download</mat-icon>
                      </button>
                    </a>
                    <button mat-icon-button color="warn" (click)="canUpload ? deleteFile(file): null">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
                }
              </mat-menu>
          </div>     
    </div> 
</mat-dialog-content>
<mat-dialog-actions>
    <div class="action-container">
        <div class="buttons">
            <button mat-button (click)="onNoClick()">No Thanks</button>
            <button mat-button (click)="onOkClick()" [mat-dialog-close]="data" [disabled]="!data.title||!canModify">Ok</button>
        </div>
    </div>
</mat-dialog-actions>
