<div class="user-div">
        <mat-card class="user-mat-card">
            <div class="search-bar-div">
            <mat-form-field class="search-bar">
                <!-- <mat-label>Search Email</mat-label> -->
                <input type="text"
                    placeholder="Search Email"
                    matInput
                    [formControl]="emailSearchControl">
            </mat-form-field>
            </div>
            
        <mat-list>
            <mat-list-item>
                <div class="list-header">
                    <div class="list-column name">Name</div>
                    <div class="list-column email">E-mail</div>
                    <div class="list-column role">Role</div>
                    <div class="list-column action">Actions</div>
                </div>
            </mat-list-item>
        </mat-list>
        <mat-list class="scrollable-list">
            @for (users of filteredOptions | async; track users) {
                <!-- <mat-list-item *ngFor="let users of usersList; last as last"> -->
                <mat-list-item>
                    
                    <div class="users row">
                        <div class="column name" *ngIf="!isEditing || usersEditing.id !== users.id" data-title="{{users.userName}}">{{users.userName}}</div>
                        <mat-form-field *ngIf="isEditing && usersEditing.id === users.id" class="column name">
                            <!-- <mat-label>User Name</mat-label> -->
                            <input matInput [formControl]="userNameControl">
                        </mat-form-field>
                        <div class="column email" data-title="{{users.email}}">{{users.email}}</div>
                        <div class="column status role"><span [ngClass]="{'admin': users.role === 'admin', 'user': users.role === 'user', 'disabled-status': !isEditing || usersEditing.id !== users.id }" (click)="changeStatus(users)">{{users.role}}</span></div>
                        <div class="column actions">
                            <button mat-icon-button [disabled]="isEditing && usersEditing.id !== users.id" (click)="edit(users)"
                            *ngIf="!isEditing || usersEditing.id !== users.id" class="controls edit" matTooltip="Edit"
                            style="background-color: transparent; border: none; text-decoration: none;"
                                [ngStyle]="{
                                    'opacity': (isEditing && usersEditing.id !== users.id) ? 0.5 : 1,
                                    'cursor': (isEditing && usersEditing.id !== users.id) ? 'default' : 'pointer',
                                    'pointer-events': (isEditing && usersEditing.id !== users.id) ? 'none' : 'auto'
                                }">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <mat-icon *ngIf="isEditing && usersEditing.id === users.id" class="controls save" matTooltip="Save" (click)="save()">save</mat-icon>
                            <!-- <mat-icon class="controls delete" matTooltip="Delete" (click)="delete(users)">delete</mat-icon> -->
                        </div> 
                    </div>
                    <div class="divider-div">
                        <!-- <mat-divider class="custom-divider" [inset]="true" *ngIf="!last"></mat-divider> -->
                        <mat-divider class="custom-divider" [inset]="true"></mat-divider>
                    </div>
                </mat-list-item>
            }
        </mat-list>
    </mat-card>
</div>
