.user-div {
    display: flex;
    justify-content: center;
    background-color: none;
    height: 80vh;
}

.search-bar-div{
    z-index: 100;
    margin-top: 20px;
    width: 45vw;
    display: flex;
    justify-content: center;
}

.search-bar {
    width: 40vw;
    height: 85%;
}

.user-mat-card {
    width: 45vw;
    height: 70vh;
    margin: 20px;

}

.scrollable-list {
    max-height: 70vh;
    overflow-y: auto;
    /* border: 1px solid #ccc; */
}

.list-header {
    display: flex;
    justify-content: center;
}

.list-column {
    /* flex: 1; */
    padding: 8px 10px;
    text-align: left;
    
}

.list-header .list-column {
    font-weight: bold;
    background-color: #f5f1f1;
}

.users.row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.users.row .column {
    /* flex: 1; */
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative; 
}

.name {
    width: 10vw;
}

.email {
    width: 20vw;
}

.role{
    width: 5vw;
}

.column.role {
    text-align: center;
}

.actions{
    width: 5vw;
    text-align: center;
}

.disabled-status {
    pointer-events: none;
    opacity: 0.6;
}

.edit {
    color: goldenrod;
}
.save {
    color: goldenrod;
}
.delete {
    color: red;
}

.controls {
    cursor: pointer;
}
.controls:hover {
    color: purple;
}

.status span {
    padding: 2px 5px;
    border-radius: 4px;
    cursor: pointer;
}

.user {
    background-color: orange;
    color: white;
}

.admin {
    background-color: red;
    color: white;
}

.divider-div{
    display: flex;
    justify-content: center;
}

.custom-divider {
    width: 42vw;
}

.mat-divider.mat-divider-inset {
    margin-left: 0px;
}

.mat-mdc-list-item .mat-divider-inset, .mat-mdc-list-option .mat-divider-inset {
    position: relative;
}



