
.list-header, .list-row {
    display: flex;
    width: 100%;
}

.list-column {
    flex: 1;
    padding: 8px;
    text-align: left;
}

.list-header .list-column {
    font-weight: bold;
    background-color: #f5f1f1;
}

.users.row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.users.row .column {
    flex: 1;
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative; 
}

.disabled-status {
    pointer-events: none;
    opacity: 0.6;
}

.edit {
    color: goldenrod;
}
.save {
    color: goldenrod;
}
.delete {
    color: red;
}

.controls {
    cursor: pointer;
}
.controls:hover {
    color: purple;
}

.status span {
    padding: 2px 5px;
    border-radius: 4px;
    cursor: pointer;
}

.user {
    background-color: orange;
    color: white;
}

.admin {
    background-color: red;
    color: white;
}

