<h1 mat-dialog-title>New Room</h1>
<div mat-dialog-content>
    <div class="inputContainer">
        <mat-form-field>
            <mat-label>Room Number</mat-label>
            <input matInput [(ngModel)]="roomNumber">
        </mat-form-field>

        <div class="add-tag-button">
            <span>Tags</span>
            <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon>add_circle</mat-icon>
            </button>
        </div>
                
        <mat-menu #menu="matMenu">
            @for (tag of allTags; track tag) {
                <button *ngIf="!tags.includes(tag)" mat-menu-item (click)="selected(tag)">{{tag}}</button>

            }
        </mat-menu>
        <mat-chip-listbox>
            @for (tag of tags; track tag) {
                <mat-chip-row (removed)="remove(tag)">
                {{tag}}
                <button matChipRemove [attr.aria-label]="'remove ' + tag">
                    <mat-icon>cancel</mat-icon>
                </button>
                </mat-chip-row>
            }
        </mat-chip-listbox>

        <mat-form-field>
            <mat-label>Capacity</mat-label>
            <input matInput type="number" [(ngModel)]="capacity" min="1">
        </mat-form-field>
        
    </div>
    <div class="buttonContainer">
        <button mat-stroked-button (click)="onCancel()">Cancel</button>
        <button mat-flat-button color="primary" (click)="onSave()">Add</button>
    </div>

</div>