<div class="inputDiv">
    <button mat-raised-button color="primary" (click)="openDialog()">Add Room</button>   
</div>
<mat-card>
    <mat-list>
        <mat-list-item>
            <div class="list-header">
                <div class="list-column room">Room</div>
                <div class="list-column tags">Tags</div>
                <div class="list-column capacity">Capacity</div>
                <div class="list-column details">Details</div>
                <div class="list-column actions">Actions</div>
            </div>
        </mat-list-item>
        <mat-list-item *ngFor="let rooms of roomsList">
            <div class="rooms row">
                <div class="column show room" *ngIf="!isEditing || roomsEditing?.id !== rooms.id" data-title="{{rooms.roomNumber}}">{{rooms.roomNumber}}</div>
                <mat-form-field *ngIf="isEditing && roomsEditing?.id === rooms.id" class="column show room">
                    <!-- <mat-label>Room Number</mat-label> -->
                    <input matInput #roomNumberInput [formControl]="roomNumberControl">
                </mat-form-field>
                <div class="tagContainer">
                <!-- Tags (Chips) -->
                <mat-chip-listbox class="tagsChips" aria-label="Room tags" [multiple]="true">
                    <ng-container *ngFor="let tag of rooms.tag">
                        <mat-chip-option *ngIf="isEditing || tag.selected" [selected]="tag.selected" [color]="tag.color" [disabled]="!isEditing || roomsEditing?.id !== rooms.id" (click)="toggleTagSelection(tag)">
                        {{tag.name}}
                        </mat-chip-option>
                    </ng-container>
                </mat-chip-listbox>
                </div>
                <div  class="column show capacity" *ngIf="!isEditing || roomsEditing?.id !== rooms.id" data-title="{{rooms.capacity}}">{{rooms.capacity}}</div>
                <mat-form-field *ngIf="isEditing && roomsEditing?.id === rooms.id" class="column show capacity">
                    <!-- <mat-label>Capacity</mat-label> -->
                    <input matInput #capacityInput [formControl]="capacityControl">
                </mat-form-field>
                <div class="column show details" *ngIf="!isEditing || roomsEditing?.id !== rooms.id" data-title="{{rooms.details}}">{{rooms.details}}</div>
                <mat-form-field *ngIf="isEditing && roomsEditing?.id === rooms.id" class="column show details">
                    <!-- <mat-label>Details</mat-label> -->
                    <input matInput #detailsInput [formControl]="detailsControl">
                  </mat-form-field>
                <div class="column controls actions">
                    <mat-icon *ngIf="!isEditing || roomsEditing?.id !== rooms.id" class="controls edit" matTooltip="Edit" (click)="edit(rooms)">edit</mat-icon>
                    <mat-icon *ngIf="isEditing && roomsEditing?.id === rooms.id" class="controls save" matTooltip="Save" (click)="save()">save</mat-icon>
                    <mat-icon class="controls delete" matTooltip="Delete" (click)="delete(rooms)">delete</mat-icon>
                </div> 
            </div>
        </mat-list-item>
    </mat-list>
</mat-card>