.inputDiv {
    /* text-align: center; */
    margin: 20px;
}


/* button{
    margin-top: 20px;

} */

.list-header{
    display: flex;
}

.list-column {
    padding: 8px;
    text-align: left;

}

.room {
    width: 200px;
}

.tagContainer{
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    align-items: center;
    width: 800px;
}

.add-tag-button{
    margin-right: 10px;
}

mat-chip-row{
    margin: 5px;
}

.disabled-chip {
    pointer-events: none;
    opacity: 0.8;
}

.tags{
    width: 800px;
}

.capacity{
    width: 80px;
}

.details{
    width: 200px;
}

.actions{
    width: 100px;
}

.list-header .list-column {
    font-weight: bold;
    background-color: #f5f1f1;
}

::ng-deep :root{
    --mdc-list-list-item-one-line-container-height: 60px;
}
  
.rooms.row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    /* height: 70px; */
}

.rooms.row .column {
    /* flex: 1;  */
    padding: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    /* height: 70px; */
}

.edit {
    color: goldenrod;
}
.save {
    color: goldenrod;
}
.delete {
    color: red;
}

.controls {
    cursor: pointer;
}
.controls:hover {
    color: purple;
}
