*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
::ng-deep *{
    --mdc-filled-text-field-container-color: transparent;
}
.room-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    background-color: #f5f1f1;
    height: 80vh;
}

.parentDiv{
    display: flex;
    justify-content: center;
}

.inputDiv {
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    width: 60vw;
}

.search-bar-div {
    z-index: 100;
    /* margin-top: 20px; */
    width: 45vw;
    display: flex;
    justify-content: center;

}

.search-bar {
    width: 40vw;
    text-decoration: none;
    border: none;
    border-bottom: 1px solid #000;
    background-color: transparent;
    font-size: 1.3em;
    height: 100%;

}
.search-bar:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.1);
}
.room-mat-card {
    width: 60vw;
    height: 64vh;
    /* margin: 20px; */

}

.list-header{
    display: flex;
    justify-content: center;
}

.list-column {
    padding: 8px;
    text-align: left;

}

.room {
    width: 10vw;
}

.tagContainer{
    overflow-y: auto;
    overflow-x: auto;
    display: flex;
    align-items: center;
    width: 40vw;
    /* -ms-overflow-style: none; */
}

/* .tagContainer::-webkit-scrollbar {

    width: 10em;
} */

.add-tag-button{
    margin-right: 10px;
}

mat-chip-row{
    margin: 5px;
}

.disabled-chip {
    pointer-events: none;
    opacity: 0.8;
}

.tags{
    width: 40vw;
}

.capacity{
    width: 5vw;
    text-align: center;
}

.actions{
    width: 5vw;
    text-align: center;
}

.list-header .list-column {
    font-weight: bold;
    background-color: #f5f1f1;
}

::ng-deep :root{
    --mdc-list-list-item-one-line-container-height: 60px;
}
  
.rooms.row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.rooms.row .column {
    /* flex: 1;  */
    padding: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}

.disabled-status {
    pointer-events: none;
    opacity: 0.6;
}

.edit {
    color: goldenrod !important;
}
.save {
    color: goldenrod;
}
.delete {
    color: red;
}

.controls:hover {
    color: purple;
}

.divider-div{
    display: flex;
    justify-content: center;
}

.custom-divider {
    width: 60vw;
}


.mat-divider.mat-divider-inset {
    margin-left: 0px;
}

.mat-mdc-list-item .mat-divider-inset, .mat-mdc-list-option .mat-divider-inset {
    position: relative;
}
